.user__container {
  height: 220px;
  width: 100%;
  display: inline-flex;
  margin: 0 auto 10px;
  background: #20222b;
  color: white;
}

.user__details {
  flex: 4 auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.user__partner {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -5px;
  right: 2px;
  z-index: 2;
  @media (max-width: $s-breakpoint) {
    height: 24px;
    width: 24px;
  }
}

.user__preview {
  flex: 1 220px;
  height: 100%;
  justify-content: center;
  border-right: 4px solid blueviolet;
  border-top: 4px solid blueviolet;
  border-bottom: 4px solid blueviolet;
}

.user__image--container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 170px;
  margin: 0 40px;
  @media (max-width: $md-breakpoint) {
    width: 150px;
    margin: 0 30px;
  }
  @media (max-width: $s-breakpoint) {
    width: 130px;
    margin: 0 20px;
  }
  @media (max-width: $xs-breakpoint) {
    width: 110px;
    margin: 0 10px;
  }
}

.user__image {
  height: 140px;
  align-content: center;
  @media (max-width: $md-breakpoint) {
    height: 130px;
  }
  @media (max-width: $s-breakpoint) {
    height: 110px;
  }
  @media (max-width: $xs-breakpoint) {
    height: 80px;
  }
  position: relative;
  border-radius: 50%;
  border: 4px solid red;
}

.user__image--inner {
  position: relative;
  z-index: 1;
}

.user__online
  > .user__image--container
  > a
  > .user__image--inner
  > .user__image {
  border: 4px solid green;
}

.user__text {
  font-size: 16px !important;
  word-wrap: none;
  padding-right: 10px;
  @media (max-width: $md-breakpoint) {
    font-size: 15px !important;
  }
  @media (max-width: $s-breakpoint) {
    font-size: 13px !important;
  }
}

.user__boldText {
  display: inline-block;
  color: rgb(163, 65, 255);
  font-weight: bolder;
  margin: 0;
}

.user__name {
  margin: 3px 0;
  font-weight: 800;
  text-align: center;
  width: 100%;
  font-size: 16px !important;
  @media (max-width: $md-breakpoint) {
    font-size: 14px !important;
  }
  @media (max-width: $s-breakpoint) {
    font-size: 12px !important;
  }
}

.user__deleteIcon {
  position: absolute;
  z-index: 1;
  font-size: 20px !important;
  color: rgb(172, 0, 0);
  right: 10px;
  top: 8px;
  cursor: pointer;
  &:hover {
    color: lighten(rgb(172, 0, 0), 10%);
    font-size: 24px !important;
    top: 6px;
    right: 8px;
    transition: font-size 0.1s, top 0.1s, right 0.1s;
  }
}

.user__infoContainer {
  font-size: 14px;
  display: inline-flex;
  flex-direction: column;
  min-height: 180px;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.user__streamPreview {
  width: auto;
  height: 100%;
}

.user__streamPreview--mature {
  width: auto;
  height: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.user__online,
.user__offline {
  height: 100%;
  width: 100%;
  display: inline-flex;
  border: 4px solid blueviolet;
}
